
/*
 * 1. Syntax highlighting with highlight.js
 */

@import "basscss";
@import "basscss-highlight"; /* 1. */

.mutation-error {
  background-color: tomato;
}

.hidden {
  display: none;
}

.ace_editor {
  margin-bottom: 0;
  border: 1px solid var(--border-color);
  border-radius: 0;
}

/* Temporary hackery to get the error reporting working for the editor */
.ace-tm {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


:root {
  --font-family: 'Avenir Next', 'Hevletica Neue', Helvetica, sans-serif;
  --bold-font-weight: 600;
  --heading-font-weight: var(--bold-font-weight);
  --button-font-size: var(--h5);
  --button-font-weight: var(--bold-font-weight);
}

